/* Base Styles -------------------- */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font: 1em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: dimgray;
}

h1 {
    font-size: 5.625rem;
    text-transform: uppercase;
    font-weight: normal;
    line-height: 1.3;
}

h2 {
    font-size: 3.3125em;
    font-weight: normal;
    line-height: 1.1;
    margin: 0 0 .5em;
}

h3 {
    font-size: 1.25em;
    line-height: 1.2;
    margin-bottom: 1.7em;
}


img {
    max-width: 100%;
    margin-bottom: 20px;
    border-radius: 5%;
}

video {
    width: 102%;
    height: 102%;
    left: -5px;
    margin: -10px;
    position: absolute;
    top: 0;
    overflow: hidden;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 20px;
}

ul,
ol {
    margin: 30px 0;
}

li {
    margin-bottom: 10px;
}

/* Pseudo-classes ------------------ */

a:link {
    color: firebrick;
    text-decoration: none;
}

a:visited {
    color: blue;
}

a:hover {
    color: firebrick;
}

a:active {
    color: red;
}

/* Main Styles --------------------- */

.main-header {
    padding-top: 1px;
    padding-bottom: 1px;
    height: 600px;
    background-size: auto;
}

.main-image {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 500px;
    background-size: auto;
}

.secondary-header {
    padding-top: 10px;
    height: 600px;
    background: url("../images/classes.jpg") no-repeat center;
    border-radius: 10%;
    background-size: auto;
}

.title {
    color: rgba(20, 20, 20, 0.8);
    font-size: 1.625rem;
}

.intro {
    font-size: 1.25em;
    line-height: 1.6;
}

.primary-content,
.main-header,
.secondary-header,
.main-footer {
    text-align: center;
    color: rgba(43, 42, 42, 0.8);
}

.primary-content {
    padding-top: 25px;
    padding-bottom: 95px;
}

.secondary-content {
    padding-top: 80px;
    padding-bottom: 70px;
    border-bottom: 2px solid black;
}

.callout {
    font-size: 1.25em;
    border-bottom: 3px solid;
    padding: 0 9px 3px;
    margin-top: 20px;
    display: inline-block;
}

.main-footer {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 10px solid black;
}

.main-header {
    padding-top: 60px;
    padding-bottom: 60px;
}

.t-border {
    border-top: 2px solid black;
}

/* Layout Styles ------------------ */

.primary-content,
.secondary-content {
    width: 75%;
    padding-left: 50px;
    padding-right: 50px;
    margin: auto;
    max-width: 960px;
}

.character {
    color: rgba(61, 61, 61, 0.5);;
    text-align: left;
    padding: 18% 24%;
    margin: 105px 0 60px;
    background: url('../images/ragnaros.jpg') no-repeat;
    background-size: contain;
}

.arrow {
    width: 50px;
}

/* Floated Columns ------------------ */

.subtlety,
.assassination,
.combat {
    width: 75%;
    border-bottom: 5px solid black;
    padding-bottom: 25px;
    padding-top: 25px;
}


/* Float Clearfix ------------------ */

.group:after {
    content: "";
    display: table;
    clear: both;
}

/* Dropdown menu ------------------*/

/* Dropdown Button */
.dropbtn {
    background-color: darkgrey;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: dimgray;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: dimgray;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: dimgray;
}
